@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);
/* Color Variables. Pick your poison! */
/* Creates an animation that changes background color iterating through the colors array above. 
 Additionally uses Sass's native color function which lightens a color for a pastel look */
@keyframes changecolours {
  0% {
    background-color: #ececec; }
  10% {
    background-color: #9dced8; }
  20% {
    background-color: #bfd496; }
  30% {
    background-color: #c6bc91; }
  40% {
    background-color: #fbe39d; }
  50% {
    background-color: #d8a89d; }
  60% {
    background-color: #a58bbe; }
  70% {
    background-color: #d8d89d; }
  80% {
    background-color: #9dd8c4; }
  90% {
    background-color: #9dced8; }
  100% {
    background-color: #ececec; } }

@keyframes title {
  0% {
    left: 0; }
  100% {
    left: -85px; } }

/* scale up */
@keyframes scaleUp {
  from {
    opacity: 0.2;
    transform: scale(0.6); } }

@-moz-keyframes scaleUp {
  from {
    opacity: 0.2;
    -moz-transform: scale(0.6); } }

@-webkit-keyframes scaleUp {
  from {
    opacity: 0.2;
    -webkit-transform: scale(0.6); } }

@-moz-keyframes stripes {
  100% {
    background-position: 0 50px; } }

@-webkit-keyframes stripes {
  100% {
    background-position: 0 50px; } }

@keyframes stripes {
  100% {
    background-position: 0 50px; } }

h1 {
  /*	@include animation(title, 2s, ease, alternate, infinite);*/
  position: relative; }

h2 {
  position: relative; }

body {
  animation-name: changecolours;
  animation-duration: 50s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  margin: 0;
  color: white;
  z-index: 1;
  /*h1{font: bold 10vmax/.8 Open Sans, Impact;}*/ }
  body h3 {
    font: bold 5vmax/.8 Open Sans, Impact; }

.outer {
  background: -webkit-linear-gradient(transparent, transparent), url(https://i.ytimg.com/vi/9udYi7exojk/maxresdefault.jpg) repeat;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 100% 50px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-animation: stripes 2s linear infinite;
  animation: stripes 2s linear infinite;
  /*       -webkit-animation:scaleUp 0.8s ease-in normal;
  -moz-animation:scaleUp 0.8s both ease-in;
  animation:scaleUp 0.8s ease-in normal;*/ }
