/*.social-icons {
    text-align: center;
  padding: 20px 5px 10px 5px;
  margin:15px 0 35px 0;

  @each $name, $property in $fa-icons {
      $iconcolor: nth($property, 1);
      $icon: nth($property, 2);
     
      .#{$name}:before{
          font-family: FontAwesome;
          border-top:4px solid $iconcolor;
          color: $iconcolor;
          content: $icon;
          padding: 5px; 
      margin:10px 33px 35px 33px;
      font-size: $fa-size;
      display: inline-block;
      cursor: pointer;
      @extend .hvr-grow;
      }  
    }
}
*/
/*     -webkit-animation-delay: (#{$ptitle*2s});
*/



/*@each $ptitle in $titles {
  .picture-#{$ptitle}{
    @debug #{$ptitle};
    @debug $titles;
  }
} 
*/

   @for $i from 1 through 3 {
      &:nth-child(#{$i}) { 
/*       @include transition-delay(0.1s * $i); 
*/       -webkit-animation-delay: (#{$i*2s});
/*          @debug (#{$i*5s});
*//*         -webkit-animation-duration: 1s;
@debug (12px + 4px);
*/      }
    }


    // @keyframes frameani {
//   0% { transform: rotateX(0deg) rotateY(0deg)}
//   100% { transform: rotateX(-1.5deg) rotateY(1.5deg) skewX(-3deg);}
//   // 100% { transform: rotateX(-1.5eg) rotateY(-1.5deg); }
// }

// @keyframes frameani {
//   0% { transform: rotateX(0deg) rotateY(0deg)}
//   100% { transform: rotateX(-1.5deg) rotateY(1.5deg) skewX(-3deg);}
//   // 100% { transform: rotateX(-1.5eg) rotateY(-1.5deg); }
// }

// @keyframes frameani {
//   0% { transform: translateX(0px) translateY(0px) matrix3d(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0)}
//   100% { transform: translateX(3.5px) translateY(3.5px) matrix3d(
// 1.1176382211538463,  0,  0,  0.0002253605769230769,
// 0, 1.0064603365384615, 0,  0.000037560096153846156,
// 0, 0,  1,  0,
// 0, 0,  0,  1
// );
// }
//   // 100% { transform: rotateX(-1.5eg) rotateY(-1.5deg); }
// }