/*Overiding bootstrap*/

.navbar-default .navbar-nav > li > a {
  color: black;
  font-weight: bold;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: black;
  border-bottom: 3px solid black;
  background-color: none !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: none !important;
}

.navbar .hvr-underline-from-left:before {
  background: black;
  text-align: center;
}

.info.hvr-underline-from-left:before {
  background-color: $panel_title_color;
  height: 2.5px;
}
