$list: hairwhips geek audrey coding about;
$panel_title_color: #f6f6f6;
$titles: film theater music code;
$content: one two three four five;
$moveup: up-two up-three up-four;
$panel-desc-colors: rgba(255, 140, 0, 0.7) rgba(91, 190, 251, 0.7) rgba(165, 42, 42, 0.7) rgba(60, 179, 113, 0.7);

$break-small: 320px;
$break-large: 1199px;
/* yellow blue red green */

/*#efd68f
navbar bg color : whitesmoke
font on selected : dimgrey*/