@import "variables";
@import "overide";

@each $author in $list {
  .photo-#{$author} {
    background: url("../images/#{$author}.jpg") no-repeat center center;
    background-size: cover;
    z-index: 45;
  }
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow: hidden;
  background-color: grey
  
}

.navbar .container-fluid {
  margin-bottom: 10px;
  border-bottom: 0.5px solid #b9b9b9;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.8);

  h4 {
    font-size: 24px;
    padding: 5px;
  }
}

.navbar-brand, .navbar-nav {
  color: black !important;
  padding: 0px 15px;
  line-height: 23px;
}

.navbar-nav {
  ul li a {
    padding-left: 100px;
    background-color: white;
  }
}


body.home{
  background-color: grey;}

body .about{background-color: rgba(233, 150, 122, 0.2)}

@media (min-width: 1200px) {
  overflow: hidden;
  overflow-y: hidden;
}


.home .col-lg-3, .home .col-lg-12 {
  margin: 0;
  padding: 0;
  height: calc(100% + 900px);
  overflow: hidden;
}

.home .col-lg-3 {
  height: 100%;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

 .photo {
  z-index: 0;
  top: 0px;
  background-size: cover;
  height: calc(100% + 50px) !important;
  width: calc(100% + 50px);
  overflow: hidden;
  z-index: 3;
  position: absolute;
}

.photo {
  animation: frameani 2s ease-in-out infinite alternate;
  overflow: hidden;
  transition: all 1s;
  transition-timing-function: linear;
  transition-delay: 0s;
  top: 0;
}

.perspective-container {
  perspective: 20em;
  overflow: hidden;
  height: 100%;
  transform-style: preserve-3d;
}

.picture-title {
  position: absolute;
  top: 10px;
  left: 50px;
  z-index: 30;
  text-align: center;
  font-size: 27px;
  letter-spacing: 0.4em;
  font-weight: 100;
  cursor: pointer;

  /*  border-bottom:2px solid $panel_title_color;
  */
}

.panel-description {
  display: none;
  position: absolute;
  z-index: 4;
  width: 300px;
  top: 10px;
  padding-top: 30px;
  margin: 10px;

  /*  background-color: rgba(91, 190, 251, 0.4);*/

  /*rgba(255, 255, 255, 0.4);*/

  .description-content {
    padding: 17px 30px 30px 40px;
    color: black;
    font-weight: 100;
    letter-spacing: 0.05em;
  }

  a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    text-transform: uppercase;

    /*-webkit-box-shadow: 0 0 1px #000;
    -moz-box-shadow: 0 0 1px #000;
    box-shadow: 0 0 1px #000;*/
  }
}

.hide-photo-filter {
  display: none;
  position: relative;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 50;
  width: 100%;
  height: 100%;
}

.show-photo-filter {
  display: block;
}

/* Home Page Animation for panels */

@for $i from 1 through length($titles) {
  $item: nth($titles, $i);
  $pcol: nth($panel-desc-colors, $i);

  /* Generates animations for cascading tiles */

  .picture-#{$item} {
    -webkit-animation-delay: #{$i * 0.3s};
    -moz-animation-delay: #{$i * 0.3s};
    animation-delay: #{$i * 0.3s};
    color: $panel_title_color;
  }

  /* Generates different colors for panel descriptions */

  .#{$item}-panel {
    cursor: pointer;
    .panel-description {
      background-color: $pcol;
      text-align: left;
    }

    &:hover {
      .panel-description {
        display: block;
      }

      .hide-photo-filter {

        @extend .show-photo-filter;
      }
    }
  }
}



/*  About Page animation for content  */

 @for $i from 1 through length($content) {
  $item: nth($content, $i);

  /* Generates animations for content to slide in from right */

  .#{$item} {
    -webkit-animation-delay: #{$i * 0.08s};
    -moz-animation-delay: #{$i * 0.08s};
    animation-delay: #{$i * 0.08s};
    transition-timing-function: cubic-bezier(0.42,0,0.58,1);
  }
}

@keyframes opaque {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.6;
  }

  100% {
     opacity: 1;
  }
}

@-webkit-keyframes mymove {
  from {
    top: 0px;
  }

  to {
    top: 200px;
  }
}

@-webkit-keyframes mymove {
  0% {
    -webkit-transform: scale(0.5) rotate(15deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0deg);
  }
}

.code-container {
  -webkit-animation: 4s ease 3 normal;

  /* Chrome, Safari, Opera */
  animation: mymove 5s;
  -webkit-animation: movearound 4s ease 3 normal;
}



 .about-panel {
  -webkit-animation: example 1.2s both ease-in;
  -moz-animation: example 1.2s both ease-in;
  animation: example 1.2s both ease-in;
}

.about .photo-about{position:relative; top:0; height: 100vh !important; background-size: cover;}

/*.about .about-container{overflow-y: scroll}
*/@keyframes pop {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* scale up */
/*@keyframes scaleUp {
  0% {
    opacity: 0.2;
    transform: scale(1);
  }
   100% {
    opacity: 1;
    transform: scale(1.2);
  }
}*/


.about-panel{
  float:right; 
  overflow-x: hidden; 
  overflow:hidden; 
  height: calc(100% + 900px);
  padding: 0;
  position: absolute; top:0;right:0;

}

.about-content{
  p, blockquote{font-size:13px;line-height: 20px; letter-spacing: 0.07em;}
  h1{line-height: 50px; font-size: 90px; font-weight:200;letter-spacing: -0.1em; padding-bottom: 35px; }; /* or letter-spacing:0.15; -0.01*/
  float:left;
  overflow-x: hidden; overflow:hidden; 
  padding: 20px 0px 20px 50px;
  color:#424649
  
}



.Synopsis-highlightLine {
    width: 52px;
    height: 4px;
    background: #424649 !important; 
    margin: 30px 0;
    opacity:0.5 !important;
}

  .Synopsis-highlight {
    font-weight: 700 !important;
    font-size: 15px !important;
    opacity:0.7;
    line-height: 25px !important;
    width: 100%;
}

.about-info{

  position: absolute;
  z-index: 100;
  top:50%;
  color: white;
  text-align: center;
  width: 100%;

  h3{
    width: 100%; 
    font-size: 30px; 
    text-decoration: underline; 
    letter-spacing: 0.4em; 
    font-weight:300;
  }

  .about-info-contact{
    margin-top: 25px; 
    padding-bottom: 100px;
    margin-bottom: 100px; 
    display:none;
      h4, a{
        margin-bottom: 5px
      }
      p{font-size: 17px; font-weight: 100; color:#b5b5b5; margin-top: 10px; margin-bottom: 0 }
      a{color: #b09e82; font-size: 16px;}
  }

}



/* Generates animations for cascading tiles */

.about-panel{
  @for $i from 1 through length($moveup) {
  $item: nth($moveup, $i);

    &:hover{

      .about-info-contact{
        display:block;
      }

      .hide-photo-filter {
        @extend .show-photo-filter;
      }

      .about-info-contact .#{$item} {
        -webkit-animation-delay: #{$i * 0.08s};
        -moz-animation-delay: #{$i * 0.08s};
        animation-delay: #{$i * 0.08s};
        transition-timing-function: cubic-bezier(0.42,0,0.58,1);
        display:block;
      }
    }
  }
}


/*@-moz-keyframes scaleUp {
  from {
    opacity: 0.2;
    -moz-transform: scale(0.6);
  }
}

@-webkit-keyframes scaleUp {
  from {
    opacity: 0.2;
    -webkit-transform: scale(0.6);
  }
}*/

@keyframes example {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.mobile-buttons{display:none;position: absolute; top:40%; right:30px; a{width:35px; height:35px; border-radius:50%;background-color:rgba(255,255,255,0.6); margin:10px; padding:5px; line-height:8px; font-weight: 300;text-decoration: none;cursor:pointer; text-align:center;display:block;}}

@media (max-width: 800px) {
.photo{width:100% !important;}
} 
