  <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="anusuya roy choudhury">
	<title>Shubhra Prakash</title> 
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
	<link rel="stylesheet" type="text/css" href="../../public/bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../../public/bower_components/animate.css/animate.min.css">
	<link rel="stylesheet" type="text/css" href="../../public/bower_components/hover/css/hover.css">  
	<link rel="stylesheet" href="../../public/css/styles.css"/>