  <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="author" content="anusuya roy choudhury">
	<title>Shubhra Prakash</title> 

	<meta http-equiv="cleartype" content="on">
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="True">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

		<!--heree-->

<!-- <link rel="stylesheet" href="../../public/js/jquery.mobile.custom/jquery.mobile.custom.theme.min.css"></link> -->

<!-- /here -->

	<link rel="stylesheet" type="text/css" href="../../public/bower_components/bootstrap/dist/css/bootstrap.css">
<!-- <link rel="stylesheet" href="../../public/js/jquery.mobile.custom/jquery.mobile.custom.structure.min.css"></link> -->

	<link rel="stylesheet" type="text/css" href="../../public/bower_components/animate.css/animate.min.css">
	<link rel="stylesheet" type="text/css" href="../../public/bower_components/hover/css/hover.css">  
	<link rel="stylesheet" href="../../public/css/styles.css"/>
	