<div class="container about animated fadeIn">
  <div class="row animated fadeIn" style="height:100%;">

    <!-- Film Panel -->
      <div class="col col-lg-12" >
      <div class="perspective-container">
        <div class="photo photo-about"></div>
        <div class="hide-photo-filter animated fadeIn"></div>
      </div>
    </div>
  </div>
</div>