
<div class="container about" style="background-color:white; overflow-x: hidden; overflow-y: auto; height: 100vh; padding-bottom:100px">
	<div class="row">

	    <div class="col col-lg-6 about-panel animated fadeIn" style="padding-left:50px">
	      <div class="perspective-container">
	        <div class="zero photo-about animated fadeIn" style="transform:translateY(0px) translateZ(0px)">
	        	<div class="hide-photo-filter animated fadeIn"></div>
	        	<div class="about-info">
	        		<h3 class="animated fadeInUp up-one">SHUBHRA PRAKASH</h3>
	        		<div class="about-info-contact">
	        			<h4 class="animated fadeInUp up-two"> Web Developer, Film Maker, Theater Artist, Singer, Badass</h4>
	        			<p class="animated fadeInUp up-three">I am located in this location</p>
	        			<a href="" class="animated fadeInUp up-four">shubhraprakash@myemail.com</a>
	        		</div>
	        	</div>
	        </div>
	      </div>
	    </div>

	    <div class="col col-lg-6 about-content animated fadeIn" >
	    	<h1 class="animated fadeInRight one">about</h1>
	       	<div class="about-me" style="transform: translateY(0px) translateZ(0px); margin-top:20px">
	       		<div class="animated fadeInRight two">
	            	<p>Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, of type and scrambled it to make a type specimen book. But also the leap into electronic typesetting, remaining essentially unchanged.</p>
	            	<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p> 
	            </div>
	       		<div class="Synopsis-highlightLine five" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
	       		<div class="animated fadeInRight three">
	            	<p class="Synopsis-highlight">Pot da bomb diam check it out nisi fizzle mollis.Pizzle funky fresh mi, own yo' in, doggy sed, adipiscing sempizzle, velit. Crizzle in shit. Sheezy volutpizzle away bling bling orci. Crizzle quis da bomb in dawg sodales ornare. Brizzle venenatizzle justo izzle lacus. Break yo neck, yall a i saw beyonces tizzles and my pizzle went crizzle. Class aptent fo shizzle fizzle izzle litora stuff yo mamma conubia gizzle, pizzle crunk hymenaeos.</p>
	            </div>
	            <div class="Synopsis-highlightLine five" style=" transform: matrix(1, 0, 0, 1, 0, 0);"></div>
	            <div class="animated fadeInRight four">
	            	<p>Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, of type and scrambled it to make a type specimen book. But also the leap into electronic typesetting, remaining essentially unchanged.</p>
		            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
		            <p>Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, of type and scrambled it to make a type specimen book. But also the leap into electronic typesetting, remaining essentially unchanged.</p>
		            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p> 
		            <p>Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, of type and scrambled it to make a type specimen book. But also the leap into electronic typesetting, remaining essentially unchanged.</p>
		            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
	            </div>
	        </div>                
	    </div>
	    
	</div>
</div>
 