<div class="container about animated fadeIn">
  <div class="row animated fadeIn" style="height:100%;">

    <!-- Film Panel -->
      <div class="col col-lg-12" >
      <div class="perspective-container">
        <div class="photo photo-about"></div>
        <div class="hide-photo-filter animated fadeIn"></div>
      </div>
    </div>
  </div>
  <div class="row">

    <!-- Film Panel -->
      <div class="col col-lg-12" >
       <div class=" animated fadeInLeft">
        
            <p>Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, of type and scrambled it to make a type specimen book. But also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
         
        
        </div>
    </div>
  </div>
</div>