
<div class="container about" id="panel">
  <div class="row">
<div class="col col-lg-12 about-content animated fadeIn" >
        <div class="scrollbar"></div>
        <h1 class="animated fadeIn one">film</h1>
          <div class="about-me" style="transform: translateY(0px) translateZ(0px); margin-top:20px">
            <div class="animated fadeIn two">
                <p>Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, of type and scrambled it to make a type specimen book. But also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p> 
              </div>
            <div class="Synopsis-highlightLine five" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
            <div class="animated fadeIn three">
                <p class="Synopsis-highlight">Pot da bomb diam check it out nisi fizzle mollis.Pizzle funky fresh mi, own yo' in, doggy sed, adipiscing sempizzle, velit. Crizzle in shit. Sheezy volutpizzle away bling bling orci. Crizzle quis da bomb in dawg sodales ornare. Brizzle venenatizzle justo izzle lacus. Break yo neck, yall bomb diam check it out nisi. Class aptent fo shizzle fizzle izzle litora stuff yo mamma conubia gizzle, pizzle crunk hymenaeos.</p>
              </div>
              <div class="Synopsis-highlightLine five" style=" transform: matrix(1, 0, 0, 1, 0, 0);"></div>
              <div class="animated fadeIn four">
                <p>Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, of type and scrambled it to make a type specimen book. But also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <p>Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, of type and scrambled it to make a type specimen book. But also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p> 
                <p>Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, of type and scrambled it to make a type specimen book. But also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <p>It has survived not only five centuries, but also the leap into electronic.</p>
              </div>
          </div>                
      </div>
      </div>
      </div>
<!-- <div class="page-load-code" style="background-color: red; position:absolute; top:0; left:0;width: 100%; height: 100vh; z-index: 0"></div>

<div data-role="page" id="pageone" style="z-index: 100">
  <div data-role="header">
    <h1>Welcome To My Homepage</h1>
  </div>

   <div data-role="main" class="ui-content">
    <p>Click on the link to see the fade effect.</p>
    <a href="#pagetwo" data-transition="fade">Fade to Page Two</a>
  </div>

  <div data-role="footer">
    <h1>Footer Text</h1>
  </div>
</div> 

<div data-role="page" id="pagetwo">
  <div data-role="header">
    <h1>Welcome To My Homepage</h1>
  </div>

   <div data-role="main" class="ui-content">
    <p>Click on the link to go back. <b>Note</b>: fade is default.</p>
    <a href="#pageone">Go to Page One</a>
  </div>

  <div data-role="footer">
    <h1>Footer Text</h1>
  </div>
</div>  -->



<!-- 
   <div class="thisos"></div>

    <main id="panel">
      <header>
        <h2>Panel</h2>
      </header>
    </main>
 -->
  
<!-- 
  </body>
</html> -->
