<div class="container home animated fadeIn" class="code-container" style="height:100vh">
  <div class="row animated fadeIn" style="height:100%;">

    <!-- Film Panel -->
    <div class="col col-lg-3 film-panel" >
      <div class="panel-title text-center">
        <h1 class="picture-title picture-film animated fadeInDown">FILM</h1>
        <div class="panel-description animated fadeInLeft">
          <div class="description-content">
            <p>Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, of type and scrambled it to make a type specimen book. But also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <a href="film.ejs" class="info hvr-underline-from-left"> Read More </a>
          </div>
        </div>
      </div>
      <div class="perspective-container">
        <div class="photo photo-hairwhips smart-object"></div>
        <div class="hide-photo-filter animated fadeIn"></div>
      </div>
    </div>

    <!-- Theater Panel -->
    <div class="col col-lg-3 theater-panel" >
      <div class="panel-title">
        <h1 class="picture-title picture-theater animated fadeInDown">THEATER</h1>
        <div class="panel-description animated fadeInLeft">
          <div class="description-content">
            <p>Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, of type and scrambled it to make a type specimen book. But also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <a href="theater.ejs" class="info hvr-underline-from-left"> Read More </a>
          </div>
        </div>
      </div>
      <div class="perspective-container">
        <div class="photo photo-geek">
        </div>
        <div class="hide-photo-filter animated fadeIn"></div>
      </div>
    </div>

    <!-- MUSIC PANEL -->
    <div class="col col-lg-3 music-panel">
      <div class="panel-title">
        <h1 class="picture-title picture-music animated fadeInDown">MUSIC</h1> 
        <div class="panel-description animated fadeInLeft">
          <div class="description-content">
            <p>Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, of type and scrambled it to make a type specimen book. But also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <a href="music.ejs" class="info hvr-underline-from-left"> Read More </a>
          </div>
        </div>
      </div>
      <div class="perspective-container">
        <div class="photo photo-audrey"></div>
        <div class="hide-photo-filter animated fadeIn"></div>
      </div>
    </div>

    <!-- Code Panel -->
    <div class="col col-lg-3 code-panel">
      <div class="panel-title">
        <h1 class="picture-title picture-code animated fadeInDown">CODE</h1>
        <div class="panel-description animated fadeInLeft">
          <div class="description-content">
            <p>Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, of type and scrambled it to make a type specimen book. But also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <a href="code.ejs" class="info hvr-underline-from-left"> Read More </a>
          </div>
        </div>
      </div>
      <div class="perspective-container">
        <div class=" photo photo-coding"></div>
        <div class="hide-photo-filter animated fadeIn"></div>
      </div>
    </div>

  </div>
</div>


