{{> pageloader }}
<div class="container home animated fadeIn" class="code-container" id="panel" style="height:100vh">
  <div class="row animated fadeIn" style="height:100%;">

    <!-- Theater Panel -->
    <div class="col col-lg-4 theater-panel" id="paneltwo">
      <div class="panel-title" data-role="main" class="ui-content">
        <h1 class="picture-title picture-theater animated fadeInDown">THEATER</h1>
        <div class="panel-description animated fadeInLeft">
          <div class="description-content">
            <p>Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, of type and scrambled it to make a type specimen book. But also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <a href="theater.ejs" class="info hvr-underline-from-left"> Read More </a>
          </div>
        </div>
      </div>
      <div class="perspective-container" style="transform:matrix(1, 0, 0, 1, 0, 0)">
        <div class="photo photo-geek">
        </div>
        <div class="hide-photo-filter animated fadeIn"></div>
      </div>
      <div class="mobile-buttons">
          <a class="next" href="#panelthree" data-transition="flip">
          <span></span>
          <span></span>
        </a>
        <a class="previous" href="#panelone" data-transition="flip">
          <span></span>
          <span></span>
        </a>
      </div>
    </div>
    <!-- Film Panel -->
    <div class="col col-lg-4 film-panel" id="panelone">
      <div class="panel-title text-center" data-role="main" class="ui-content">
        <h1 class="picture-title picture-film animated fadeInDown">FILM</h1>
        <div class="panel-description animated fadeInLeft">
          <div class="description-content">
            <p>Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, of type and scrambled it to make a type specimen book. But also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <a href="film.ejs" class="info hvr-underline-from-left"> Read More </a>
          </div>
        </div>
      </div>
      <div class="perspective-container" style="transform:matrix(1, 0, 0, 1, 0, 0)">
        <div class="photo photo-hairwhips smart-object"></div>
        <div class="hide-photo-filter animated fadeIn"></div>
      </div>
      <div class="mobile-buttons">
        <a class="next pantwo" href="#paneltwo" data-transition="flip">
          <span></span>
          <span></span>
        </a>
        <a class="previous" href="#panelfour" data-transition="flip">
          <span></span>
          <span></span>
        </a>
      </div>
    </div>
    <!-- Code Panel -->
    <div class="col col-lg-4 code-panel" id="panelthree">
      <div class="panel-title">
        <h1 class="picture-title picture-code animated fadeInDown">CODE</h1>
        <div class="panel-description animated fadeInLeft">
          <div class="description-content">
            <p>Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, of type and scrambled it to make a type specimen book. But also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <a href="code.ejs" class="info hvr-underline-from-left"> Read More </a>
          </div>
        </div>
      </div>
      <div class="perspective-container" style="transform:matrix(1, 0, 0, 1, 0, 0)">
        <div class=" photo photo-coding"></div>
        <div class="hide-photo-filter animated fadeIn"></div>
      </div>
      <div class="mobile-buttons">
       <a class="next" href="#panelone" data-transition="flip">
          <span></span>
          <span></span>
        </a>
        <a class="previous" href="#panelthree" data-transition="flip">
          <span></span>
          <span></span>
        </a>
      </div>
    </div>
    <!-- MUSIC PANEL 
    <div class="col col-lg-3 music-panel" id="panelthree">
      <div class="panel-title">
        <h1 class="picture-title picture-music animated fadeInDown">MUSIC</h1> 
        <div class="panel-description animated fadeInLeft">
          <div class="description-content">
            <p>Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, of type and scrambled it to make a type specimen book. But also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <a href="music.ejs" class="info hvr-underline-from-left"> Read More </a>
          </div>
        </div>
      </div>
      <div class="perspective-container" style="transform:matrix(1, 0, 0, 1, 0, 0)">
        <div class="photo photo-audrey"></div>
        <div class="hide-photo-filter animated fadeIn"></div>
      </div>
      <div class="mobile-buttons">
        <a class="next" href="#panelfour" data-transition="flip">
          <span></span>
          <span></span>
        </a>
        <a class="previous" href="#paneltwo" data-transition="flip">
          <span></span>
          <span></span>
        </a>
      </div>
    </div> -->


  </div>
</div>
  