/*_filmslide.scss

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position:relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}*/
@media (max-width: 767px) {
  /* line 34, ../../sass/_filmslide.scss */
  .slideout-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 256px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
  }

  /* line 47, ../../sass/_filmslide.scss */
  .slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
  }

  /* line 53, ../../sass/_filmslide.scss */
  .slideout-open,
  .slideout-open body,
  .slideout-open .slideout-panel {
    overflow: hidden;
  }

  /* line 59, ../../sass/_filmslide.scss */
  .slideout-open .slideout-menu {
    display: block;
  }

  /* line 63, ../../sass/_filmslide.scss */
  #menu {
    border: 0 !important;
  }
}
/* line 1, ../../sass/_preloader.scss */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

/* line 9, ../../sass/_preloader.scss */
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

/* line 24, ../../sass/_preloader.scss */
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

/* line 38, ../../sass/_preloader.scss */
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
/* line 77, ../../sass/_preloader.scss */
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: lightgrey;
  z-index: 1000;
}

/* line 86, ../../sass/_preloader.scss */
#loader-wrapper .loader-section.section-left {
  left: 0;
}

/* line 90, ../../sass/_preloader.scss */
#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* line 94, ../../sass/_preloader.scss */
#loader {
  z-index: 1001;
  /* anything higher than z-index: 1000 of .loader-section */
}

/* Loaded */
/* line 100, ../../sass/_preloader.scss */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%);
  /* IE 9 */
  transform: translateX(-100%);
  /* Firefox 16+, IE 10+, Opera */
}

/* line 106, ../../sass/_preloader.scss */
.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%);
  /* IE 9 */
  transform: translateX(100%);
  /* Firefox 16+, IE 10+, Opera */
}

/* line 112, ../../sass/_preloader.scss */
.loaded #loader {
  opacity: 0;
}

/* line 116, ../../sass/_preloader.scss */
.loaded #loader-wrapper {
  visibility: hidden;
}

/* line 120, ../../sass/_preloader.scss */
.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 126, ../../sass/_preloader.scss */
.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transition: all 0.3s 0.3s ease-out;
  transition: all 0.3s 0.3s ease-out;
}

/* line 133, ../../sass/_preloader.scss */
.loaded #loader-wrapper {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s 0.6s ease-out;
  transition: all 0.3s 0.6s ease-out;
}

/* yellow blue red green */
/*#efd68f
navbar bg color : whitesmoke
font on selected : dimgrey*/
/*Overiding bootstrap*/
/* line 3, ../../sass/_overide.scss */
.navbar-default .navbar-nav > li > a {
  color: black;
  font-weight: bold;
}

/* line 8, ../../sass/_overide.scss */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: black;
  border-bottom: 3px solid black;
  background-color: none !important;
}

/* line 16, ../../sass/_overide.scss */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: none !important;
}

/* line 20, ../../sass/_overide.scss */
.navbar .hvr-underline-from-left:before {
  background: black;
  text-align: center;
}

/* line 25, ../../sass/_overide.scss */
.info.hvr-underline-from-left:before {
  background-color: #f6f6f6;
  height: 2.5px;
}

/* line 30, ../../sass/_overide.scss */
.navbar {
  background-color: whitesmoke !important;
}

/* line 32, ../../sass/_overide.scss */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent !important;
  border: 0 !important;
}

/* line 34, ../../sass/_overide.scss */
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
  text-shadow: none !important;
}

/* line 36, ../../sass/_overide.scss */
.mobile-nav .hvr-underline-from-left:before {
  content: initial !important;
}

@media (min-width: 834px) {
  /* line 42, ../../sass/_overide.scss */
  .navbar-toggle {
    display: none !important;
  }
}
@media (min-width: 600px) {
  /* line 48, ../../sass/_overide.scss */
  #close-nav.navbar-toggle {
    display: initial !important;
  }
}
/* -----------------------------------------------------------------------------

  FONTS
  
----------------------------------------------------------------------------- */
/*@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/oxygen/oxygen-v5-latin-300.eot');
  src: local('Oxygen Light'), local('Oxygen-Light'),
       url('../fonts/oxygen/oxygen-v5-latin-300.eot?#iefix') format('embedded-opentype'),
       url('../fonts/oxygen/oxygen-v5-latin-300.woff2') format('woff2'),
       url('../fonts/oxygen/oxygen-v5-latin-300.woff') format('woff'),
       url('../fonts/oxygen/oxygen-v5-latin-300.ttf') format('truetype'),
       url('../fonts/oxygen/oxygen-v5-latin-300.svg#Oxygen') format('svg');
}

@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/oxygen/oxygen-v5-latin-regular.eot');
  src: local('Oxygen'), local('Oxygen-Regular'),
       url('../fonts/oxygen/oxygen-v5-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/oxygen/oxygen-v5-latin-regular.woff2') format('woff2'),
       url('../fonts/oxygen/oxygen-v5-latin-regular.woff') format('woff'),
       url('../fonts/oxygen/oxygen-v5-latin-regular.ttf') format('truetype'),
       url('../fonts/oxygen/oxygen-v5-latin-regular.svg#Oxygen') format('svg');
}

@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/oxygen/oxygen-v5-latin-700.eot');
  src: local('Oxygen Bold'), local('Oxygen-Bold'),
       url('../fonts/oxygen/oxygen-v5-latin-700.eot?#iefix') format('embedded-opentype'),
       url('../fonts/oxygen/oxygen-v5-latin-700.woff2') format('woff2'),
       url('../fonts/oxygen/oxygen-v5-latin-700.woff') format('woff'),
       url('../fonts/oxygen/oxygen-v5-latin-700.ttf') format('truetype'),
       url('../fonts/oxygen/oxygen-v5-latin-700.svg#Oxygen') format('svg');
}*/
/* -----------------------------------------------------------------------------

  BOX SIZING RESET
  
----------------------------------------------------------------------------- */
/*
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}*/
/* -----------------------------------------------------------------------------

  ROOT ELEMENTS
  
----------------------------------------------------------------------------- */
/*html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: $color--neutral;
  background-color: #fff;
  font-family: $font-family--primary;
  font-size: $font-size--small;
  line-height: $line-height--medium;
}*/
/* -----------------------------------------------------------------------------

  HEADING ELEMENTS
  
----------------------------------------------------------------------------- */
/*h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color--neutral-dark;
  font-weight: 700;
  line-height: $line-height--small;
}*/
/* -----------------------------------------------------------------------------

  TEXT ELEMENTS
  
----------------------------------------------------------------------------- */
/*a {
  color: $color--blue;
  text-decoration: none;
}

a:hover {
  color: $color--blue-dark;
}

b,
strong {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}*/
/* -----------------------------------------------------------------------------

  MEDIA ELEMENTS
  
----------------------------------------------------------------------------- */
/*img {
  max-width: 100%;
  height: auto;
}*/
/* -----------------------------------------------------------------------------

  WRAPPER OBJECT
  
----------------------------------------------------------------------------- */
/* line 7, ../../sass/menu/_objects.layout.scss */
.o-wrapper {
  transition: transform 0.3s;
}

/* line 12, ../../sass/menu/_objects.layout.scss */
.hibye {
  background-color: black !important;
}

/* -----------------------------------------------------------------------------

  CONTAINER OBJECTS
  
----------------------------------------------------------------------------- */
/* line 22, ../../sass/menu/_objects.layout.scss */
.o-container {
  margin: 0 auto;
  padding: 0 12px;
  max-width: 960px;
}

@media all and (min-width: 480px) {
  /* line 30, ../../sass/menu/_objects.layout.scss */
  .o-container {
    padding: 0 24px;
  }
}
@media all and (min-width: 720px) {
  /* line 38, ../../sass/menu/_objects.layout.scss */
  .o-container {
    padding: 0 48px;
  }
}
/* -----------------------------------------------------------------------------

  HEADER OBJECT
  
----------------------------------------------------------------------------- */
/* line 54, ../../sass/menu/_objects.layout.scss */
.o-header {
  margin: 0;
  padding: 0;
}

/* line 59, ../../sass/menu/_objects.layout.scss */
.o-header-nav {
  display: flex;
  justify-content: space-between;
  background-color: #67b5d1;
}

/* line 65, ../../sass/menu/_objects.layout.scss */
.o-header-nav__link {
  padding: 12px;
  color: #fff;
}

/* line 70, ../../sass/menu/_objects.layout.scss */
.o-header-nav__link:hover {
  color: #fff;
  background-color: #3184a1;
}

/* line 75, ../../sass/menu/_objects.layout.scss */
.o-header__title {
  margin: 24px;
  padding: 0;
  color: #818181;
  font-size: 28px;
  font-weight: 300;
  text-align: center;
}

@media all and (min-width: 480px) {
  /* line 86, ../../sass/menu/_objects.layout.scss */
  .o-header__title {
    margin: 36px;
    font-size: 42px;
  }
}
/* -----------------------------------------------------------------------------

  MAIN OBJECT
  
----------------------------------------------------------------------------- */
/* line 103, ../../sass/menu/_objects.layout.scss */
.o-main {
  /**/
}

/* -----------------------------------------------------------------------------

  SUB-NAVIGATION OBJECT
  
----------------------------------------------------------------------------- */
/* line 117, ../../sass/menu/_objects.layout.scss */
.o-sub-nav {
  margin: 0 0 24px 0;
  padding: 0;
}

/* line 122, ../../sass/menu/_objects.layout.scss */
.o-sub-nav__items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 131, ../../sass/menu/_objects.layout.scss */
.o-sub-nav__item {
  margin: 0;
  padding: 4px;
}

/* line 136, ../../sass/menu/_objects.layout.scss */
.o-sub-nav__link {
  display: block;
  margin: 0;
  padding: 4px 24px;
  border: solid 2px #67b5d1;
}

/* line 143, ../../sass/menu/_objects.layout.scss */
.o-sub-nav__link:hover,
.o-sub-nav__item.active .o-sub-nav__link {
  color: #fff;
  background-color: #67b5d1;
}

@media all and (min-width: 720px) {
  /* line 151, ../../sass/menu/_objects.layout.scss */
  .o-sub-nav {
    margin: 0 0 48px 0;
  }
}
/* -----------------------------------------------------------------------------

  FOOTER OBJECT
  
----------------------------------------------------------------------------- */
/* line 167, ../../sass/menu/_objects.layout.scss */
.o-footer {
  padding: 12px 0;
  text-align: center;
}

@media all and (min-width: 480px) {
  /* line 174, ../../sass/menu/_objects.layout.scss */
  .o-footer {
    padding: 24px 0;
  }
}
@media all and (min-width: 720px) {
  /* line 182, ../../sass/menu/_objects.layout.scss */
  .o-footer {
    padding: 48px 0;
  }
}
/* -----------------------------------------------------------------------------

  SLIDE AND PUSH MENUS COMPONENT
  
----------------------------------------------------------------------------- */
/**
 * Menu overview.
 */
/* line 15, ../../sass/menu/_components.menus.scss */
.c-menu {
  position: fixed;
  z-index: 200;
  background-color: #67b5d1;
  transition: transform 0.3s;
}

/* line 22, ../../sass/menu/_components.menus.scss */
.c-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Left and right menus
 *
 * Slide and push menus coming in from the left and right inherit a lot of
 * common styles. We'll start each of them off by doing up the common styles
 * for each version, followed by individual styles.
 *
 * The various versions are governed by modifier classes.
 */
/**
 * Common modifiers for left/right menus.
 */
/* line 42, ../../sass/menu/_components.menus.scss */
.c-menu--slide-left,
.c-menu--slide-right,
.c-menu--push-left,
.c-menu--push-right {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
@media all and (min-width: 320px) {
  /* line 42, ../../sass/menu/_components.menus.scss */
  .c-menu--slide-left,
  .c-menu--slide-right,
  .c-menu--push-left,
  .c-menu--push-right {
    width: 300px;
  }
}

/* line 55, ../../sass/menu/_components.menus.scss */
.c-menu--slide-left .c-menu__item,
.c-menu--slide-right .c-menu__item,
.c-menu--push-left .c-menu__item,
.c-menu--push-right .c-menu__item {
  display: block;
  text-align: center;
  border-top: solid 1px #b5dbe9;
  border-bottom: solid 1px #3184a1;
}
/* line 64, ../../sass/menu/_components.menus.scss */
.c-menu--slide-left .c-menu__item:first-child,
.c-menu--slide-right .c-menu__item:first-child,
.c-menu--push-left .c-menu__item:first-child,
.c-menu--push-right .c-menu__item:first-child {
  border-top: none;
}
/* line 68, ../../sass/menu/_components.menus.scss */
.c-menu--slide-left .c-menu__item:last-child,
.c-menu--slide-right .c-menu__item:last-child,
.c-menu--push-left .c-menu__item:last-child,
.c-menu--push-right .c-menu__item:last-child {
  border-bottom: none;
}

/* line 73, ../../sass/menu/_components.menus.scss */
.c-menu--slide-left .c-menu__link,
.c-menu--slide-right .c-menu__link,
.c-menu--push-left .c-menu__link,
.c-menu--push-right .c-menu__link {
  display: block;
  padding: 12px 24px;
  color: #fff;
}

/* line 82, ../../sass/menu/_components.menus.scss */
.c-menu--slide-left .c-menu__close,
.c-menu--slide-right .c-menu__close,
.c-menu--push-left .c-menu__close,
.c-menu--push-right .c-menu__close {
  display: block;
  padding: 12px 24px;
  width: 100%;
}

/**
 * Slide/Push Menu Left.
 */
/* line 95, ../../sass/menu/_components.menus.scss */
.c-menu--slide-left,
.c-menu--push-left {
  top: 0;
  left: 0;
  transform: translateX(-100%);
}
@media all and (min-width: 320px) {
  /* line 95, ../../sass/menu/_components.menus.scss */
  .c-menu--slide-left,
  .c-menu--push-left {
    transform: translateX(-300px);
  }
}

/* line 106, ../../sass/menu/_components.menus.scss */
.c-menu--slide-left.is-active,
.c-menu--push-left.is-active {
  transform: translateX(0);
}

/**
 * Slide/Push Menu Right.
 */
/* line 115, ../../sass/menu/_components.menus.scss */
.c-menu--slide-right,
.c-menu--push-right {
  top: 0;
  right: 0;
  transform: translateX(100%);
}
@media all and (min-width: 320px) {
  /* line 115, ../../sass/menu/_components.menus.scss */
  .c-menu--slide-right,
  .c-menu--push-right {
    transform: translateX(300px);
  }
}

/* line 126, ../../sass/menu/_components.menus.scss */
.c-menu--slide-right.is-active,
.c-menu--push-right.is-active {
  transform: translateX(0);
}

/**
 * Top and bottom menus
 *
 * Slide and push menus coming in from the top and bottom inherit a lot of
 * common styles. We'll start each of them off by doing up the common styles
 * for each version, followed by individual styles.
 *
 * The various versions are governed by modifier classes.

/**
 * Common modifiers for top/bottom menus
 */
/* line 144, ../../sass/menu/_components.menus.scss */
.c-menu--slide-top,
.c-menu--slide-bottom,
.c-menu--push-top,
.c-menu--push-bottom {
  vertical-align: middle;
  width: 100%;
  height: 60px;
  text-align: center;
  overflow-x: scroll;
}

/* line 155, ../../sass/menu/_components.menus.scss */
.c-menu--slide-top .c-menu__items,
.c-menu--slide-bottom .c-menu__items,
.c-menu--push-top .c-menu__items,
.c-menu--push-bottom .c-menu__items {
  display: inline-block;
  text-align: center;
}

/* line 163, ../../sass/menu/_components.menus.scss */
.c-menu--slide-top .c-menu__item,
.c-menu--slide-bottom .c-menu__item,
.c-menu--push-top .c-menu__item,
.c-menu--push-bottom .c-menu__item {
  display: inline-block;
  line-height: 60px;
}

/* line 171, ../../sass/menu/_components.menus.scss */
.c-menu--slide-top .c-menu__link,
.c-menu--slide-bottom .c-menu__link,
.c-menu--push-top .c-menu__link,
.c-menu--push-bottom .c-menu__link {
  display: block;
  padding: 0 4px;
  color: #fff;
}

/* line 180, ../../sass/menu/_components.menus.scss */
.c-menu--slide-top .c-menu__close,
.c-menu--slide-bottom .c-menu__close,
.c-menu--push-top .c-menu__close,
.c-menu--push-bottom .c-menu__close {
  display: inline-block;
  margin-right: 12px;
  padding: 0 24px;
  height: 60px;
  line-height: 60px;
}

/**
 * Slide/Push Menu Top.
 */
/* line 195, ../../sass/menu/_components.menus.scss */
.c-menu--slide-top,
.c-menu--push-top {
  top: 0;
  left: 0;
  transform: translateY(-60px);
}

/* line 202, ../../sass/menu/_components.menus.scss */
.c-menu--slide-top.is-active,
.c-menu--push-top.is-active {
  transform: translateY(0);
}

/**
 * Slide/Push Menu Bottom.
 */
/* line 211, ../../sass/menu/_components.menus.scss */
.c-menu--slide-bottom,
.c-menu--push-bottom {
  bottom: 0;
  left: 0;
  transform: translateY(60px);
}

/* line 218, ../../sass/menu/_components.menus.scss */
.c-menu--slide-bottom.is-active,
.c-menu--push-bottom.is-active {
  transform: translateY(0);
}

/**
 * Wrapper states.
 *
 * Various wrapper states occur depending on if a menu is pushing into view, in
 * which case, the wrapper has to be pushed by the respective distance.
 */
/* line 230, ../../sass/menu/_components.menus.scss */
.o-wrapper.has-push-left {
  transform: translateX(100%);
}
@media all and (min-width: 320px) {
  /* line 230, ../../sass/menu/_components.menus.scss */
  .o-wrapper.has-push-left {
    transform: translateX(300px);
  }
}

/* line 238, ../../sass/menu/_components.menus.scss */
.o-wrapper.has-push-right {
  transform: translateX(-100%);
}
@media all and (min-width: 320px) {
  /* line 238, ../../sass/menu/_components.menus.scss */
  .o-wrapper.has-push-right {
    transform: translateX(-300px);
  }
}

/* line 246, ../../sass/menu/_components.menus.scss */
.o-wrapper.has-push-top {
  transform: translateY(60px);
}

/* line 250, ../../sass/menu/_components.menus.scss */
.o-wrapper.has-push-bottom {
  transform: translateY(-60px);
}

/**
 * Body states.
 *
 * When a menu is active, we want to hide the overflows on the body to prevent
 * awkward document scrolling.
 */
/* line 261, ../../sass/menu/_components.menus.scss */
body.has-active-menu {
  overflow: hidden;
}

/**
 * Close button resets.
 */
/* line 269, ../../sass/menu/_components.menus.scss */
.c-menu__close {
  color: #fff;
  background-color: #3184a1;
  font-size: 14px;
  border: none;
  box-shadow: none;
  border-radius: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

/* line 282, ../../sass/menu/_components.menus.scss */
.c-menu__close:focus {
  outline: none;
}

/* -----------------------------------------------------------------------------

  MASK COMPONENT
  
----------------------------------------------------------------------------- */
/* line 7, ../../sass/menu/_components.mask.scss */
.c-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

/* line 20, ../../sass/menu/_components.mask.scss */
.c-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: opacity 0.3s;
}

/* -----------------------------------------------------------------------------

  BUTTONS
  
----------------------------------------------------------------------------- */
/* line 7, ../../sass/menu/_components.buttons.scss */
.c-buttons {
  margin-bottom: 48px;
  text-align: center;
}

/* line 12, ../../sass/menu/_components.buttons.scss */
.c-button {
  display: inline-block;
  margin: 4px;
  padding: 12px 24px;
  color: #67b5d1;
  background: none;
  font-size: 14px;
  border: solid 2px #67b5d1;
  box-shadow: none;
  border-radius: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

/* line 28, ../../sass/menu/_components.buttons.scss */
.c-button:focus {
  outline: none;
}

/* line 32, ../../sass/menu/_components.buttons.scss */
.c-button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

/* -----------------------------------------------------------------------------

  CARBON AD COMPONENT
  
----------------------------------------------------------------------------- */
/* line 7, ../../sass/menu/_components.carbonad.scss */
#carbonads {
  position: fixed;
  bottom: 12px;
  right: 12px;
  z-index: 1000;
  padding: 24px 12px 12px 12px;
  width: 154px;
  background-color: #fff;
  line-height: 1.1;
  border: solid 1px #e7e7e7;
}

/* line 18, ../../sass/menu/_components.carbonad.scss */
.carbon-wrap {
  display: block;
  margin: 0 0 4px 0;
}

/* line 23, ../../sass/menu/_components.carbonad.scss */
.carbon-img {
  display: block;
  margin: 0 0 4px 0;
  padding: 0;
  width: 130px;
  height: 100px;
}

/* line 31, ../../sass/menu/_components.carbonad.scss */
.carbon-text {
  color: #818181;
  font-size: 12px;
}

/* line 36, ../../sass/menu/_components.carbonad.scss */
.carbon-poweredby {
  font-size: 10px;
  font-style: italic;
}

/* line 41, ../../sass/menu/_components.carbonad.scss */
.carbonad__close {
  display: block;
  position: absolute;
  top: 0;
  left: 12px;
  height: 24px;
  font-size: 11px;
  line-height: 24px;
}

@media all and (max-width: 660px) {
  /* line 53, ../../sass/menu/_components.carbonad.scss */
  #carbonads {
    display: none;
  }
}
/* General styles for all menus */
/* line 2, ../../sass/slideMenu/_component.scss */
.cbp-spmenu {
  background: whitesmoke;
  position: fixed;
}

/* line 7, ../../sass/slideMenu/_component.scss */
.cbp-spmenu h3 {
  color: #afdefa;
  font-size: 1.9em;
  padding: 20px;
  margin: 0;
  font-weight: 300;
  background: #0d77b6;
}

/* line 16, ../../sass/slideMenu/_component.scss */
.cbp-spmenu a {
  display: block;
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
}

/* line 23, ../../sass/slideMenu/_component.scss */
.cbp-spmenu a:hover {
  background: #258ecd;
}

/* line 27, ../../sass/slideMenu/_component.scss */
.cbp-spmenu a:active {
  background: #afdefa;
  color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */
/* line 34, ../../sass/slideMenu/_component.scss */
.cbp-spmenu-vertical {
  width: 300px;
  height: 100%;
  top: 0;
  z-index: 1000;
}

/* line 41, ../../sass/slideMenu/_component.scss */
.cbp-spmenu-vertical a {
  /*	border-bottom: 1px solid #258ecd;
  */
  /*padding: 1em;*/
}

/* line 46, ../../sass/slideMenu/_component.scss */
.cbp-spmenu-horizontal {
  width: 100%;
  height: 150px;
  left: 0;
  z-index: 1000;
  overflow: hidden;
}

/* line 54, ../../sass/slideMenu/_component.scss */
.cbp-spmenu-horizontal h3 {
  height: 100%;
  width: 20%;
  float: left;
}

/* line 60, ../../sass/slideMenu/_component.scss */
.cbp-spmenu-horizontal a {
  float: left;
  width: 20%;
  padding: 0.8em;
  border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */
/* line 69, ../../sass/slideMenu/_component.scss */
.cbp-spmenu-left {
  left: -300px;
}

/* line 73, ../../sass/slideMenu/_component.scss */
.cbp-spmenu-right {
  right: -240px;
}

/* line 77, ../../sass/slideMenu/_component.scss */
.cbp-spmenu-left.cbp-spmenu-open {
  left: 0px;
}

/* line 81, ../../sass/slideMenu/_component.scss */
.cbp-spmenu-right.cbp-spmenu-open {
  right: 0px;
}

/* Horizontal menu that slides from the top or bottom */
/* line 87, ../../sass/slideMenu/_component.scss */
.cbp-spmenu-top {
  top: -150px;
}

/* line 91, ../../sass/slideMenu/_component.scss */
.cbp-spmenu-bottom {
  bottom: -150px;
}

/* line 95, ../../sass/slideMenu/_component.scss */
.cbp-spmenu-top.cbp-spmenu-open {
  top: 0px;
}

/* line 99, ../../sass/slideMenu/_component.scss */
.cbp-spmenu-bottom.cbp-spmenu-open {
  bottom: 0px;
}

/* Push classes applied to the body */
/* line 105, ../../sass/slideMenu/_component.scss */
.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

/* line 111, ../../sass/slideMenu/_component.scss */
.cbp-spmenu-push-toright {
  left: 240px;
}

/* line 115, ../../sass/slideMenu/_component.scss */
.cbp-spmenu-push-toleft {
  left: -240px;
}

/* Transitions */
/* line 121, ../../sass/slideMenu/_component.scss */
.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  /*-webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);*/
}

/* Example media queries */
@media screen and (max-width: 55.1875em) {
  /* line 135, ../../sass/slideMenu/_component.scss */
  .cbp-spmenu-horizontal {
    font-size: 75%;
    height: 110px;
  }

  /* line 140, ../../sass/slideMenu/_component.scss */
  .cbp-spmenu-top {
    top: -110px;
  }

  /* line 144, ../../sass/slideMenu/_component.scss */
  .cbp-spmenu-bottom {
    bottom: -110px;
  }
}
@media screen and (max-height: 26.375em) {
  /* line 152, ../../sass/slideMenu/_component.scss */
  .cbp-spmenu-vertical {
    font-size: 90%;
    /*		width: 190px;
    */
  }

  /* line 157, ../../sass/slideMenu/_component.scss */
  .cbp-spmenu-left,
  .cbp-spmenu-push-toleft {
    left: -190px;
  }

  /* line 162, ../../sass/slideMenu/_component.scss */
  .cbp-spmenu-right {
    right: -190px;
  }

  /* line 166, ../../sass/slideMenu/_component.scss */
  .cbp-spmenu-push-toright {
    left: 190px;
  }
}
/*@import "slideMenu/default";
*/
/* line 13, ../../sass/styles.scss */
.photo-hairwhips {
  background: url("../images/hairwhips.jpg") no-repeat center center;
  background-size: cover;
  z-index: 45;
  -webkit-color-interpolation-filters: linearRGB;
  color-interpolation-filters: linearRGB;
}

/* line 13, ../../sass/styles.scss */
.photo-geek {
  background: url("../images/geek.jpg") no-repeat center center;
  background-size: cover;
  z-index: 45;
  -webkit-color-interpolation-filters: linearRGB;
  color-interpolation-filters: linearRGB;
}

/* line 13, ../../sass/styles.scss */
.photo-audrey {
  background: url("../images/audrey.jpg") no-repeat center center;
  background-size: cover;
  z-index: 45;
  -webkit-color-interpolation-filters: linearRGB;
  color-interpolation-filters: linearRGB;
}

/* line 13, ../../sass/styles.scss */
.photo-coding {
  background: url("../images/coding.jpg") no-repeat center center;
  background-size: cover;
  z-index: 45;
  -webkit-color-interpolation-filters: linearRGB;
  color-interpolation-filters: linearRGB;
}

/* line 13, ../../sass/styles.scss */
.photo-about {
  background: url("../images/about.jpg") no-repeat center center;
  background-size: cover;
  z-index: 45;
  -webkit-color-interpolation-filters: linearRGB;
  color-interpolation-filters: linearRGB;
}

/* line 22, ../../sass/styles.scss */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: grey;
  min-width: 350px;
}
@media only screen and (min-width: 1199px) {
  /* line 22, ../../sass/styles.scss */
  html, body {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

/* line 36, ../../sass/styles.scss */
.container.music {
  background-color: red;
}

/* line 40, ../../sass/styles.scss */
.row {
  margin: 0;
}

/* line 44, ../../sass/styles.scss */
.container.home {
  overflow-x: hidden;
  overflow: hidden;
}

/* line 49, ../../sass/styles.scss */
.navbar .container-fluid {
  margin-bottom: 10px;
  border-bottom: 0.5px solid #b9b9b9;
}

/* line 54, ../../sass/styles.scss */
.navbar {
  background-color: rgba(255, 255, 255, 0.8);
  border-top-width: 0;
}
/* line 58, ../../sass/styles.scss */
.navbar h4 {
  font-size: 24px;
  padding: 5px;
}

/* line 64, ../../sass/styles.scss */
.navbar-brand, .navbar-nav {
  color: black !important;
  padding: 0px 15px;
  line-height: 23px;
}

/* line 71, ../../sass/styles.scss */
.navbar-nav ul li a {
  padding-left: 100px;
  background-color: transparent !important;
}

/* line 77, ../../sass/styles.scss */
.active {
  background-color: #ddca92 !important;
}

/* line 79, ../../sass/styles.scss */
body .about {
  background-color: rgba(233, 150, 122, 0.2);
}

/* line 81, ../../sass/styles.scss */
.home .col-lg-3, .home .col-lg-12 {
  margin: 0;
  padding: 0;
  height: calc(100% + 900px);
  overflow: hidden;
}

/* line 88, ../../sass/styles.scss */
.home .col-lg-3 {
  height: 100%;
}

/* line 92, ../../sass/styles.scss */
.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 98, ../../sass/styles.scss */
.code-container {
  -webkit-animation: 4s ease 3 normal;
  animation: mymove 5s;
  -webkit-animation: movearound 4s ease 3 normal;
}

/* line 104, ../../sass/styles.scss */
.photo {
  z-index: 0;
  top: 0px;
  background-size: cover;
  height: calc(100% + 50px) !important;
  width: calc(100% + 50px);
  overflow: hidden;
  z-index: 3;
  position: absolute;
}

/* line 115, ../../sass/styles.scss */
.photo {
  animation: frameani 2s ease-in-out infinite alternate;
  overflow: hidden;
  transition: all 1s;
  transition-timing-function: linear;
  transition-delay: 0s;
  top: 0;
}

/* line 124, ../../sass/styles.scss */
.perspective-container {
  perspective: 20em;
  height: 100%;
  transform-style: preserve-3d;
}
@media only screen and (min-width: 1199px) {
  /* line 124, ../../sass/styles.scss */
  .perspective-container {
    overflow: hidden;
  }
}

/* line 134, ../../sass/styles.scss */
.picture-title {
  position: absolute;
  top: 10px;
  left: 50px;
  z-index: 30;
  text-align: center;
  font-size: 27px;
  letter-spacing: 0.4em;
  font-weight: 100;
  cursor: pointer;
}

/* line 146, ../../sass/styles.scss */
.panel-description {
  display: none;
  position: absolute;
  z-index: 4;
  width: 300px;
  top: 10px;
  padding-top: 30px;
  margin: 10px;
  /*  background-color: rgba(91, 190, 251, 0.4);*/
  /*rgba(255, 255, 255, 0.4);*/
}
/* line 155, ../../sass/styles.scss */
.panel-description p {
  color: #ddd;
}
/* line 162, ../../sass/styles.scss */
.panel-description .description-content {
  padding: 17px 30px 30px 40px;
  font-weight: 100;
  letter-spacing: 0.05em;
  text-shadow: none !important;
}
/* line 169, ../../sass/styles.scss */
.panel-description a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  font-weight: 200;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  text-transform: uppercase;
}
@media only screen and (max-width: 450px) {
  /* line 146, ../../sass/styles.scss */
  .panel-description {
    width: 70%;
    height: 80%;
    font-size: 80%;
  }
}

/* line 186, ../../sass/styles.scss */
.hide-photo-filter {
  display: none;
  position: relative;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 50;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 1199px) {
  /* line 196, ../../sass/styles.scss */
  .show-photo-filter, .film-panel:hover .hide-photo-filter, .theater-panel:hover .hide-photo-filter, .music-panel:hover .hide-photo-filter, .code-panel:hover .hide-photo-filter, .about-panel:hover .hide-photo-filter {
    display: block;
  }
}

/* line 204, ../../sass/styles.scss */
.activ {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
  color: #f6f6f6;
}

/* Home Page Animation for panels */
/* Generates animations for cascading tiles */
/* line 222, ../../sass/styles.scss */
.picture-film {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
  color: #f6f6f6;
}

/* Generates different colors for panel descriptions */
/* line 231, ../../sass/styles.scss */
.film-panel {
  cursor: pointer;
}
/* line 233, ../../sass/styles.scss */
.film-panel .panel-description {
  background-color: rgba(255, 140, 0, 0.7);
  text-align: left;
}
@media only screen and (max-width: 450px) {
  /* line 236, ../../sass/styles.scss */
  .film-panel .panel-description p {
    font-weight: 300;
  }
}
@media only screen and (max-width: 450px) {
  /* line 241, ../../sass/styles.scss */
  .film-panel .panel-description {
    display: block;
  }
}
/* line 244, ../../sass/styles.scss */
.film-panel:hover .panel-description {
  display: block;
}

/* Generates animations for cascading tiles */
/* line 222, ../../sass/styles.scss */
.picture-theater {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
  color: #f6f6f6;
}

/* Generates different colors for panel descriptions */
/* line 231, ../../sass/styles.scss */
.theater-panel {
  cursor: pointer;
}
/* line 233, ../../sass/styles.scss */
.theater-panel .panel-description {
  background-color: rgba(91, 190, 251, 0.7);
  text-align: left;
}
@media only screen and (max-width: 450px) {
  /* line 236, ../../sass/styles.scss */
  .theater-panel .panel-description p {
    font-weight: 300;
  }
}
@media only screen and (max-width: 450px) {
  /* line 241, ../../sass/styles.scss */
  .theater-panel .panel-description {
    display: block;
  }
}
/* line 244, ../../sass/styles.scss */
.theater-panel:hover .panel-description {
  display: block;
}

/* Generates animations for cascading tiles */
/* line 222, ../../sass/styles.scss */
.picture-music {
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  animation-delay: 0.9s;
  color: #f6f6f6;
}

/* Generates different colors for panel descriptions */
/* line 231, ../../sass/styles.scss */
.music-panel {
  cursor: pointer;
}
/* line 233, ../../sass/styles.scss */
.music-panel .panel-description {
  background-color: rgba(165, 42, 42, 0.7);
  text-align: left;
}
@media only screen and (max-width: 450px) {
  /* line 236, ../../sass/styles.scss */
  .music-panel .panel-description p {
    font-weight: 300;
  }
}
@media only screen and (max-width: 450px) {
  /* line 241, ../../sass/styles.scss */
  .music-panel .panel-description {
    display: block;
  }
}
/* line 244, ../../sass/styles.scss */
.music-panel:hover .panel-description {
  display: block;
}

/* Generates animations for cascading tiles */
/* line 222, ../../sass/styles.scss */
.picture-code {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
  color: #f6f6f6;
}

/* Generates different colors for panel descriptions */
/* line 231, ../../sass/styles.scss */
.code-panel {
  cursor: pointer;
}
/* line 233, ../../sass/styles.scss */
.code-panel .panel-description {
  background-color: rgba(60, 179, 113, 0.7);
  text-align: left;
}
@media only screen and (max-width: 450px) {
  /* line 236, ../../sass/styles.scss */
  .code-panel .panel-description p {
    font-weight: 300;
  }
}
@media only screen and (max-width: 450px) {
  /* line 241, ../../sass/styles.scss */
  .code-panel .panel-description {
    display: block;
  }
}
/* line 244, ../../sass/styles.scss */
.code-panel:hover .panel-description {
  display: block;
}

/*  About Page animation for content  */
/* Generates animations for content to slide in from right */
/* line 266, ../../sass/styles.scss */
.one {
  -webkit-animation-delay: 0.08s;
  -moz-animation-delay: 0.08s;
  animation-delay: 0.08s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

/* Generates animations for content to slide in from right */
/* line 266, ../../sass/styles.scss */
.two {
  -webkit-animation-delay: 0.16s;
  -moz-animation-delay: 0.16s;
  animation-delay: 0.16s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

/* Generates animations for content to slide in from right */
/* line 266, ../../sass/styles.scss */
.three {
  -webkit-animation-delay: 0.24s;
  -moz-animation-delay: 0.24s;
  animation-delay: 0.24s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

/* Generates animations for content to slide in from right */
/* line 266, ../../sass/styles.scss */
.four {
  -webkit-animation-delay: 0.32s;
  -moz-animation-delay: 0.32s;
  animation-delay: 0.32s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

/* Generates animations for content to slide in from right */
/* line 266, ../../sass/styles.scss */
.five {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

/* line 274, ../../sass/styles.scss */
.container.about {
  background-color: white;
  padding-bottom: 100px;
}
@media only screen and (min-width: 1199px) {
  /* line 274, ../../sass/styles.scss */
  .container.about {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
  }
}

/* line 285, ../../sass/styles.scss */
.about-panel {
  -webkit-animation: example 1.2s both ease-in;
  -moz-animation: example 1.2s both ease-in;
  animation: example 1.2s both ease-in;
}

/* line 291, ../../sass/styles.scss */
.about .photo-about {
  position: relative;
  top: 0;
  height: 100vh !important;
  background-size: cover;
}

/* line 297, ../../sass/styles.scss */
.about-panel {
  overflow-x: hidden;
  overflow: hidden;
  height: calc(100% + 900px);
  padding: 0;
}
@media only screen and (min-width: 1199px) {
  /* line 297, ../../sass/styles.scss */
  .about-panel {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    padding-left: 50px;
  }
}

/* line 311, ../../sass/styles.scss */
.about-content {
  float: left;
  overflow-x: hidden;
  overflow: hidden;
  padding-top: 30px;
  color: #424649;
  /* or letter-spacing:0.15; -0.01*/
}
/* line 318, ../../sass/styles.scss */
.about-content p, .about-content blockquote {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.07em;
}
/* line 324, ../../sass/styles.scss */
.about-content h1 {
  z-index: -1;
  color: #ddca92;
  text-align: center;
  line-height: 50px;
  font-size: 90px;
  font-weight: 200;
  letter-spacing: -0.1em;
  padding-bottom: 35px;
  width: 95%;
}
@media only screen and (max-width: 450px) {
  /* line 311, ../../sass/styles.scss */
  .about-content {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media only screen and (min-width: 1199px) {
  /* line 311, ../../sass/styles.scss */
  .about-content {
    padding: 20px 0px 20px 50px;
  }
}

/* line 347, ../../sass/styles.scss */
.Synopsis-highlightLine {
  width: 52px;
  height: 4px;
  background: #424649 !important;
  margin: 30px 0;
  opacity: 0.5 !important;
}

/* line 355, ../../sass/styles.scss */
.Synopsis-highlight {
  font-weight: 700 !important;
  font-size: 15px !important;
  opacity: 0.7;
  line-height: 25px !important;
  width: 100%;
}

/* line 363, ../../sass/styles.scss */
.about-info {
  position: absolute;
  z-index: 100100;
  top: 50%;
  color: white;
  text-align: center;
  width: 100%;
}
/* line 372, ../../sass/styles.scss */
.about-info h3 {
  width: 100%;
  font-size: 30px;
  border-bottom: 4px solid white;
  letter-spacing: 0.4em;
  font-weight: 500;
}
/* line 380, ../../sass/styles.scss */
.about-info .about-info-contact {
  margin-top: 25px;
  padding-bottom: 100px;
  margin-bottom: 100px;
  height: 130px;
}
@media only screen and (min-width: 1199px) {
  /* line 380, ../../sass/styles.scss */
  .about-info .about-info-contact {
    display: none;
  }
}
/* line 390, ../../sass/styles.scss */
.about-info .about-info-contact h4, .about-info .about-info-contact a {
  margin-bottom: 5px;
  font-weight: 300;
}
/* line 395, ../../sass/styles.scss */
.about-info .about-info-contact p {
  font-size: 17px;
  font-weight: 100;
  color: #b5b5b5;
  margin-top: 10px;
  margin-bottom: 0;
}
/* line 403, ../../sass/styles.scss */
.about-info .about-info-contact a {
  color: #b09e82;
  font-size: 16px;
}

/* line 410, ../../sass/styles.scss */
.about-me {
  margin: 3% auto;
  text-align: justify;
  font-weight: 300;
}
/* line 415, ../../sass/styles.scss */
.about-me p {
  line-height: 23px;
}
/* line 418, ../../sass/styles.scss */
.about-me row {
  height: 100vh;
}
@media only screen and (min-width: 1199px) {
  /* line 410, ../../sass/styles.scss */
  .about-me {
    width: 63%;
  }
}

/* Generates animations for cascading tiles */
/* line 431, ../../sass/styles.scss */
.about-panel {
  height: 100%;
  height: 100%;
  height: 100%;
}
/* line 438, ../../sass/styles.scss */
.about-panel:hover .about-info-contact {
  display: block;
}
/* line 446, ../../sass/styles.scss */
.about-panel:hover .about-info-contact .up-two {
  -webkit-animation-delay: 0.08s;
  -moz-animation-delay: 0.08s;
  animation-delay: 0.08s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  display: block;
}
/* line 438, ../../sass/styles.scss */
.about-panel:hover .about-info-contact {
  display: block;
}
/* line 446, ../../sass/styles.scss */
.about-panel:hover .about-info-contact .up-three {
  -webkit-animation-delay: 0.16s;
  -moz-animation-delay: 0.16s;
  animation-delay: 0.16s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  display: block;
}
/* line 438, ../../sass/styles.scss */
.about-panel:hover .about-info-contact {
  display: block;
}
/* line 446, ../../sass/styles.scss */
.about-panel:hover .about-info-contact .up-four {
  -webkit-animation-delay: 0.24s;
  -moz-animation-delay: 0.24s;
  animation-delay: 0.24s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  display: block;
}

/*@-moz-keyframes scaleUp {
  from {
    opacity: 0.2;
    -moz-transform: scale(0.6);
  }
}

*/
/*p:hover{animation: opaque 2s reverse}
*/
@keyframes opaqu {
  0% {
    color: black;
  }
  50% {
    opacity: 0.6;
    color: grey;
  }
  100% {
    /*     opacity: 1;
    */
    color: green;
  }
}
@-webkit-keyframes mymove {
  from {
    top: 0px;
  }
  to {
    top: 200px;
  }
}
@-webkit-keyframes mymove {
  0% {
    -webkit-transform: scale(0.5) rotate(15deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(0deg);
  }
}
/*.about .about-container{overflow-y: scroll}
*/
@keyframes pop {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* scale up */
/*@keyframes scaleUp {
  0% {
    opacity: 0.2;
    transform: scale(1);
  }
   100% {
    opacity: 1;
    transform: scale(1.2);
  }
}*/
@keyframes example {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* line 546, ../../sass/styles.scss */
.mobile-buttons {
  position: absolute;
  top: 40%;
  right: 15px;
  z-index: 33333;
}
@media only screen and (min-width: 1199px) {
  /* line 546, ../../sass/styles.scss */
  .mobile-buttons {
    display: none;
  }
}
/* line 553, ../../sass/styles.scss */
.mobile-buttons a {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 10px;
  box-shadow: 1px 1px 1px rgba(1, 1, 1, 0.2);
  font-weight: 600;
  color: white;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  display: block;
}

/* line 570, ../../sass/styles.scss */
.mobile-buttons a span {
  display: block;
  width: 15px;
  background-color: white;
  height: 1px;
  position: relative;
  margin: 0 auto;
}

/* line 580, ../../sass/styles.scss */
.next span:nth-of-type(1), .previous span:nth-of-type(1) {
  -ms-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  top: 16px;
}
/* line 586, ../../sass/styles.scss */
.next span:nth-of-type(2), .previous span:nth-of-type(2) {
  -ms-transform: rotate(40deg);
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
  top: 25px;
}

/* line 594, ../../sass/styles.scss */
.previous {
  -ms-transform: scale(-1);
  -webkit-transform: scale(-1);
  transform: scale(-1);
}

/* line 602, ../../sass/styles.scss */
.navbar-nav ul li a {
  padding-left: 100px;
  background-color: transparent !important;
}

/* line 608, ../../sass/styles.scss */
.navbar-right {
  display: none !important;
}
@media only screen and (min-width: 1199px) {
  /* line 608, ../../sass/styles.scss */
  .navbar-right {
    display: block !important;
  }
}

/* line 616, ../../sass/styles.scss */
.mobile-nav ul li {
  float: none !important;
  padding-left: 5px;
}

/* line 622, ../../sass/styles.scss */
.mobile-nav {
  /* Generates animations for cascading tiles */
  /* Generates animations for cascading tiles */
  /* Generates animations for cascading tiles */
  /* Generates animations for cascading tiles */
  /* Generates animations for cascading tiles */
  /* Generates animations for cascading tiles */
  /* Generates animations for cascading tiles */
}
/* line 624, ../../sass/styles.scss */
.mobile-nav .nav-name, .mobile-nav .navbar-nav {
  display: block;
}
/* line 625, ../../sass/styles.scss */
.mobile-nav .nav-name a, .mobile-nav .navbar-nav a {
  color: black;
}
/* line 628, ../../sass/styles.scss */
.mobile-nav li a {
  padding: 7px 15px;
}
/* line 630, ../../sass/styles.scss */
.mobile-nav .nav-name {
  width: 100%;
  float: right;
}
/* line 630, ../../sass/styles.scss */
.mobile-nav .nav-name a h4 {
  font-weight: 600 !important;
  letter-spacing: 0.05em;
}
/* line 631, ../../sass/styles.scss */
.mobile-nav .navbar-nav {
  float: left;
}
/* line 631, ../../sass/styles.scss */
.mobile-nav .navbar-nav li a {
  font-weight: 600 !important;
}
/* line 639, ../../sass/styles.scss */
.mobile-nav ul .home-nav a {
  -webkit-animation-delay: 0.06s;
  -moz-animation-delay: 0.06s;
  animation-delay: 0.06s;
  animation-timing-function: ease;
}
/* line 639, ../../sass/styles.scss */
.mobile-nav ul .film-nav a {
  -webkit-animation-delay: 0.12s;
  -moz-animation-delay: 0.12s;
  animation-delay: 0.12s;
  animation-timing-function: ease;
}
/* line 639, ../../sass/styles.scss */
.mobile-nav ul .theater-nav a {
  -webkit-animation-delay: 0.18s;
  -moz-animation-delay: 0.18s;
  animation-delay: 0.18s;
  animation-timing-function: ease;
}
/* line 639, ../../sass/styles.scss */
.mobile-nav ul .music-nav a {
  -webkit-animation-delay: 0.24s;
  -moz-animation-delay: 0.24s;
  animation-delay: 0.24s;
  animation-timing-function: ease;
}
/* line 639, ../../sass/styles.scss */
.mobile-nav ul .code-nav a {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
  animation-timing-function: ease;
}
/* line 639, ../../sass/styles.scss */
.mobile-nav ul .about-nav a {
  -webkit-animation-delay: 0.36s;
  -moz-animation-delay: 0.36s;
  animation-delay: 0.36s;
  animation-timing-function: ease;
}
/* line 639, ../../sass/styles.scss */
.mobile-nav ul .contact-nav a {
  -webkit-animation-delay: 0.42s;
  -moz-animation-delay: 0.42s;
  animation-delay: 0.42s;
  animation-timing-function: ease;
}
/* line 649, ../../sass/styles.scss */
.mobile-nav .mobile-navbar-toggle:hover {
  background-color: transparent !important;
}
/* line 650, ../../sass/styles.scss */
.mobile-nav .mobile-navbar-toggle {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border: none;
  background-color: none !important;
  padding: 10px !important;
  margin-right: 25px;
}
@media (min-width: 600px) {
  /* line 662, ../../sass/styles.scss */
  .mobile-nav .mobile-navbar-toggle .navbar-toggle {
    display: initial !important;
  }
}
/* line 666, ../../sass/styles.scss */
.mobile-nav .mobile-navbar-toggle span {
  width: 20px !important;
  font-size: 0.75em;
  border-radius: 2px;
  height: 3px;
}
/* line 674, ../../sass/styles.scss */
.mobile-nav .mobile-navbar-toggle span:nth-of-type(2) {
  -ms-transform: rotate(40deg);
  /* IE 9 */
  -webkit-transform: rotate(40deg);
  /* Chrome, Safari, Opera */
  transform: rotate(40deg);
}
/* line 679, ../../sass/styles.scss */
.mobile-nav .mobile-navbar-toggle span:nth-of-type(3) {
  -ms-transform: rotate(-40deg);
  /* IE 9 */
  -webkit-transform: rotate(-40deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-40deg);
  margin-top: -3px;
}

/* line 689, ../../sass/styles.scss */
.mobile-nav-about {
  position: absolute;
  bottom: 0% !important;
  top: initial;
}
/* line 693, ../../sass/styles.scss */
.mobile-nav-about p, .mobile-nav-about a {
  font-size: 12px !important;
}
/* line 696, ../../sass/styles.scss */
.mobile-nav-about .role {
  font-weight: 500 !important;
}
/* line 697, ../../sass/styles.scss */
.mobile-nav-about .location {
  font-weight: 300 !important;
}
/* line 698, ../../sass/styles.scss */
.mobile-nav-about .about-info-contact {
  margin-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  margin-bottom: 1%;
  text-align: left;
}
