#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; }

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */ }

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */ }

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */ }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */ }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */ } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */ }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */ } }

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: lightgrey;
  z-index: 1000; }

#loader-wrapper .loader-section.section-left {
  left: 0; }

#loader-wrapper .loader-section.section-right {
  right: 0; }

#loader {
  z-index: 1001;
  /* anything higher than z-index: 1000 of .loader-section */ }

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%);
  /* IE 9 */
  transform: translateX(-100%);
  /* Firefox 16+, IE 10+, Opera */ }

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%);
  /* IE 9 */
  transform: translateX(100%);
  /* Firefox 16+, IE 10+, Opera */ }

.loaded #loader {
  opacity: 0; }

.loaded #loader-wrapper {
  visibility: hidden; }

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transition: all 0.3s 0.3s ease-out;
  transition: all 0.3s 0.3s ease-out; }

.loaded #loader-wrapper {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s 0.6s ease-out;
  transition: all 0.3s 0.6s ease-out; }

/* yellow blue red green */
/*#efd68f
navbar bg color : whitesmoke
font on selected : dimgrey*/
/*Overiding bootstrap*/
.navbar-default .navbar-nav > li > a {
  color: black;
  font-weight: bold; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: black;
  border-bottom: 3px solid black;
  background-color: none !important; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: none !important; }

.navbar .hvr-underline-from-left:before {
  background: black;
  text-align: center; }

.info.hvr-underline-from-left:before {
  background-color: #f6f6f6;
  height: 2.5px; }

.navbar {
  background-color: whitesmoke !important; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent !important;
  border: 0 !important; }

.photo-hairwhips {
  background: url("../images/hairwhips.jpg") no-repeat center center;
  background-size: cover;
  z-index: 45; }

.photo-geek {
  background: url("../images/geek.jpg") no-repeat center center;
  background-size: cover;
  z-index: 45; }

.photo-audrey {
  background: url("../images/audrey.jpg") no-repeat center center;
  background-size: cover;
  z-index: 45; }

.photo-coding {
  background: url("../images/coding.jpg") no-repeat center center;
  background-size: cover;
  z-index: 45; }

.photo-about {
  background: url("../images/about.jpg") no-repeat center center;
  background-size: cover;
  z-index: 45; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: grey; }
  @media only screen and (min-width: 1199px) {
    html, body {
      overflow: hidden;
      overflow-x: hidden;
      overflow-y: hidden; } }

.row {
  margin: 0; }

.container.home {
  overflow-x: hidden;
  overflow: hidden; }

.navbar .container-fluid {
  margin-bottom: 10px;
  border-bottom: 0.5px solid #b9b9b9; }

.navbar {
  background-color: rgba(255, 255, 255, 0.8);
  border-top-width: 0; }
  .navbar h4 {
    font-size: 24px;
    padding: 5px; }

.navbar-brand, .navbar-nav {
  color: black !important;
  padding: 0px 15px;
  line-height: 23px; }

.navbar-nav ul li a {
  padding-left: 100px;
  background-color: transparent !important; }

.active {
  background-color: #ddca92 !important; }

/*$type = about;

@if $type == about {
    @extend .active;  
    @debug $type;
  }
*/
/*body{
  .about &{

  background-color:red! important;}
}*/
/*$type: about-nav;

if*/
body .about {
  background-color: rgba(233, 150, 122, 0.2); }

/*@media (min-width: 1200px) {
  overflow: hidden;
  overflow-y: hidden;
}*/
.home .col-lg-3, .home .col-lg-12 {
  margin: 0;
  padding: 0;
  height: calc(100% + 900px);
  overflow: hidden; }

.home .col-lg-3 {
  height: 100%; }

.container {
  margin: 0;
  padding: 0;
  width: 100%; }

.code-container {
  -webkit-animation: 4s ease 3 normal;
  animation: mymove 5s;
  -webkit-animation: movearound 4s ease 3 normal; }

.photo {
  z-index: 0;
  top: 0px;
  background-size: cover;
  height: calc(100% + 50px) !important;
  width: calc(100% + 50px);
  overflow: hidden;
  z-index: 3;
  position: absolute; }

.photo {
  animation: frameani 2s ease-in-out infinite alternate;
  overflow: hidden;
  transition: all 1s;
  transition-timing-function: linear;
  transition-delay: 0s;
  top: 0; }

.perspective-container {
  perspective: 20em;
  height: 100%;
  transform-style: preserve-3d; }
  @media only screen and (min-width: 1199px) {
    .perspective-container {
      overflow: hidden; } }

.picture-title {
  position: absolute;
  top: 10px;
  left: 50px;
  z-index: 30;
  text-align: center;
  font-size: 27px;
  letter-spacing: 0.4em;
  font-weight: 100;
  cursor: pointer;
  /*  border-bottom:2px solid $panel_title_color;
  */ }

.panel-description {
  display: none;
  position: absolute;
  z-index: 4;
  width: 300px;
  top: 10px;
  padding-top: 30px;
  margin: 10px;
  /*  background-color: rgba(91, 190, 251, 0.4);*/
  /*rgba(255, 255, 255, 0.4);*/ }
  .panel-description p {
    color: #ddd; }
  .panel-description .description-content {
    padding: 17px 30px 30px 40px;
    color: black;
    font-weight: 100;
    letter-spacing: 0.05em; }
  .panel-description a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    text-transform: uppercase;
    /*-webkit-box-shadow: 0 0 1px #000;
    -moz-box-shadow: 0 0 1px #000;
    box-shadow: 0 0 1px #000;*/ }

.hide-photo-filter {
  display: none;
  position: relative;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 50;
  width: 100%;
  height: 100%; }

.show-photo-filter, .film-panel:hover .hide-photo-filter, .theater-panel:hover .hide-photo-filter, .music-panel:hover .hide-photo-filter, .code-panel:hover .hide-photo-filter, .about-panel:hover .hide-photo-filter {
  /* width:100%;
  height:100%;*/ }
  @media only screen and (min-width: 1199px) {
    .show-photo-filter, .film-panel:hover .hide-photo-filter, .theater-panel:hover .hide-photo-filter, .music-panel:hover .hide-photo-filter, .code-panel:hover .hide-photo-filter, .about-panel:hover .hide-photo-filter {
      display: block; } }

/* Home Page Animation for panels */
/* Generates animations for cascading tiles */
.picture-film {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
  color: #f6f6f6; }

/* Generates different colors for panel descriptions */
.film-panel {
  cursor: pointer; }
  .film-panel .panel-description {
    background-color: rgba(255, 140, 0, 0.7);
    text-align: left; }
  .film-panel:hover .panel-description {
    display: block; }

/* Generates animations for cascading tiles */
.picture-theater {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
  color: #f6f6f6; }

/* Generates different colors for panel descriptions */
.theater-panel {
  cursor: pointer; }
  .theater-panel .panel-description {
    background-color: rgba(91, 190, 251, 0.7);
    text-align: left; }
  .theater-panel:hover .panel-description {
    display: block; }

/* Generates animations for cascading tiles */
.picture-music {
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  animation-delay: 0.9s;
  color: #f6f6f6; }

/* Generates different colors for panel descriptions */
.music-panel {
  cursor: pointer; }
  .music-panel .panel-description {
    background-color: rgba(165, 42, 42, 0.7);
    text-align: left; }
  .music-panel:hover .panel-description {
    display: block; }

/* Generates animations for cascading tiles */
.picture-code {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
  color: #f6f6f6; }

/* Generates different colors for panel descriptions */
.code-panel {
  cursor: pointer; }
  .code-panel .panel-description {
    background-color: rgba(60, 179, 113, 0.7);
    text-align: left; }
  .code-panel:hover .panel-description {
    display: block; }

/*  About Page animation for content  */
/* Generates animations for content to slide in from right */
.one {
  -webkit-animation-delay: 0.08s;
  -moz-animation-delay: 0.08s;
  animation-delay: 0.08s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1); }

/* Generates animations for content to slide in from right */
.two {
  -webkit-animation-delay: 0.16s;
  -moz-animation-delay: 0.16s;
  animation-delay: 0.16s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1); }

/* Generates animations for content to slide in from right */
.three {
  -webkit-animation-delay: 0.24s;
  -moz-animation-delay: 0.24s;
  animation-delay: 0.24s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1); }

/* Generates animations for content to slide in from right */
.four {
  -webkit-animation-delay: 0.32s;
  -moz-animation-delay: 0.32s;
  animation-delay: 0.32s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1); }

/* Generates animations for content to slide in from right */
.five {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1); }

.container.about {
  background-color: white;
  padding-bottom: 100px; }
  @media only screen and (min-width: 1199px) {
    .container.about {
      overflow-x: hidden;
      overflow-y: auto;
      height: 100vh; } }

.about-panel {
  -webkit-animation: example 1.2s both ease-in;
  -moz-animation: example 1.2s both ease-in;
  animation: example 1.2s both ease-in; }

.about .photo-about {
  position: relative;
  top: 0;
  height: 100vh !important;
  background-size: cover; }

.about-panel {
  overflow-x: hidden;
  overflow: hidden;
  height: calc(100% + 900px);
  padding: 0;
  /*  position: absolute; top:0;right:0;
*/ }
  @media only screen and (min-width: 1199px) {
    .about-panel {
      position: absolute;
      top: 0;
      right: 0;
      float: right;
      padding-left: 50px; } }

.about-content {
  float: left;
  overflow-x: hidden;
  overflow: hidden;
  padding-top: 30px;
  color: #424649;
  /* or letter-spacing:0.15; -0.01*/ }
  @media only screen and (min-width: 1199px) {
    .about-content {
      padding: 20px 0px 20px 50px; } }
  .about-content p, .about-content blockquote {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.07em; }
  .about-content h1 {
    z-index: -1;
    color: #ddca92;
    text-align: center;
    line-height: 50px;
    font-size: 90px;
    font-weight: 200;
    letter-spacing: -0.1em;
    padding-bottom: 35px; }

.Synopsis-highlightLine {
  width: 52px;
  height: 4px;
  background: #424649 !important;
  margin: 30px 0;
  opacity: 0.5 !important; }

.Synopsis-highlight {
  font-weight: 700 !important;
  font-size: 15px !important;
  opacity: 0.7;
  line-height: 25px !important;
  width: 100%; }

.about-info {
  position: absolute;
  z-index: 100100;
  top: 50%;
  color: white;
  text-align: center;
  width: 100%; }
  .about-info h3 {
    width: 100%;
    font-size: 30px;
    text-decoration: underline;
    letter-spacing: 0.4em;
    font-weight: 500; }
  .about-info .about-info-contact {
    margin-top: 25px;
    padding-bottom: 100px;
    margin-bottom: 100px; }
    @media only screen and (min-width: 1199px) {
      .about-info .about-info-contact {
        display: none; } }
    .about-info .about-info-contact h4, .about-info .about-info-contact a {
      margin-bottom: 5px; }
    .about-info .about-info-contact p {
      font-size: 17px;
      font-weight: 100;
      color: #b5b5b5;
      margin-top: 10px;
      margin-bottom: 0; }
    .about-info .about-info-contact a {
      color: #b09e82;
      font-size: 16px; }

.about-me {
  margin: 3% auto;
  text-align: justify;
  font-weight: 300; }
  .about-me p {
    line-height: 23px; }
  .about-me row {
    height: 100vh; }
  @media only screen and (min-width: 1199px) {
    .about-me {
      width: 63%; } }

/* Generates animations for cascading tiles */
.about-panel {
  height: 100%;
  height: 100%;
  height: 100%; }
  .about-panel:hover .about-info-contact {
    display: block; }
  .about-panel:hover .about-info-contact .up-two {
    -webkit-animation-delay: 0.08s;
    -moz-animation-delay: 0.08s;
    animation-delay: 0.08s;
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    display: block; }
  .about-panel:hover .about-info-contact {
    display: block; }
  .about-panel:hover .about-info-contact .up-three {
    -webkit-animation-delay: 0.16s;
    -moz-animation-delay: 0.16s;
    animation-delay: 0.16s;
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    display: block; }
  .about-panel:hover .about-info-contact {
    display: block; }
  .about-panel:hover .about-info-contact .up-four {
    -webkit-animation-delay: 0.24s;
    -moz-animation-delay: 0.24s;
    animation-delay: 0.24s;
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    display: block; }

/*@-moz-keyframes scaleUp {
  from {
    opacity: 0.2;
    -moz-transform: scale(0.6);
  }
}

*/
/*p:hover{animation: opaque 2s reverse}
*/
@keyframes opaqu {
  0% {
    /*    opacity: 0.2;
*/
    color: black; }
  50% {
    opacity: 0.6;
    color: grey; }
  100% {
    /*     opacity: 1;
*/
    color: green; } }

@-webkit-keyframes mymove {
  from {
    top: 0px; }
  to {
    top: 200px; } }

@-webkit-keyframes mymove {
  0% {
    -webkit-transform: scale(0.5) rotate(15deg); }
  100% {
    -webkit-transform: scale(1) rotate(0deg); } }

/*.about .about-container{overflow-y: scroll}
*/
@keyframes pop {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

/* scale up */
/*@keyframes scaleUp {
  0% {
    opacity: 0.2;
    transform: scale(1);
  }
   100% {
    opacity: 1;
    transform: scale(1.2);
  }
}*/
@keyframes example {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.mobile-buttons {
  position: absolute;
  top: 40%;
  right: 15px; }
  @media only screen and (min-width: 1199px) {
    .mobile-buttons {
      display: none; } }
  .mobile-buttons a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 10px;
    /*    padding:5px; 
*/
    line-height: 35px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-weight: 100;
    text-align: center;
    display: block; }

@media (max-width: 800px) {
  .photo {
    width: 100% !important; } }

/*.about{ @include respond-to(handhelds){overflow-x: scroll; overflow-y:scroll !important; overflow:scroll !important;}}
*/
.navbar-nav ul li a {
  padding-left: 100px;
  background-color: transparent !important; }
