<div class="row" style="height:100%">

      <div class="col col-lg-3" >
        <div class="panel-title">
          <!-- <h1>BOOKS</h1> -->
          <!-- <div class="tester">stufffjhhksjhksj</div> -->
        </div>
        <div class="perspective-container">
          <div class="photo photo-hairwhips" onload="this.style.opacity='0'">
            <!--<div class="panel"></div>-->
          </div>
        </div>
      </div>

      <div class="col col-lg-3" >
<!--         <button>click</button>
 -->    <div class="panel-title">
          <h1 id="what">THEATER</h1>
        </div>
        <div class="perspective-container">
          <div class="photo photo-geek">
            <!-- <div class="panel"></div> -->
          </div>
        </div>
      </div>

      <div class="col col-lg-3">
       <!--  <div class="panel-title">
          <h1>MUSIC</h1>
        </div -->
        <div class="perspective-container">
          <div class="photo photo-audrey">
           <!--  <div class="panel"></div> -->
          </div>
        </div>
      </div>

      <div class="col col-lg-3">
        <!--   <div class="panel-title">
            <h1>CODE</h1>
          </div> -->
        <div class="perspective-container">
          <div class=" photo photo-coding">
            <!-- <div class="panel"></div> -->
          </div>
        </div>
      </div>
  </div>
