<!DOCTYPE html>
<html style="overflow:hidden">

<head>
<% include head.ejs %>
</head>

<body style="overflow:hidden">
<style type="text/css">
  .col-lg-3, .photo{height:100%;}
</style>

<% include nav.ejs %>

<div class="container" class="code-container" style="height:100vh">
<div class="row" id="code" style="height:100%;">
      <div class="col col-lg-3" >
        <div class="panel-title">
          <!-- <h1>BOOKS</h1> -->
          <!-- <div class="tester">stufffjhhksjhksj</div> -->
        </div>
        <div class="perspective-container">
          <div class="photo photo-hairwhips smart-object" onload="this.style.opacity='0'">
            <!--<div class="panel"></div>-->
          </div>
        </div>
      </div>

      <div class="col col-lg-3 theater-panel" >
<!--         <button>click</button>
 -->    <div class="panel-title">
<!--           <h1 id="what">THEA</h1>
 -->      <div class="panel-description">
            <h1> Theater </h1>
            <div class="description-content">
              <p>Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, of type and scrambled it to make a type specimen book. But also the leap into electronic typesetting, remaining essentially unchanged.</p>
              <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
              <a href="theater.ejs" class="info"> Read More </a>
            </div>
          </div>
        </div>
        <div class="perspective-container">
          <div class="photo photo-geek">
            <!-- <div class="panel"></div> -->
          </div>
        </div>
      </div>

      <div class="col col-lg-3">
       <!--  <div class="panel-title">
          <h1>MUSIC</h1>
        </div -->
        <div class="panel-title">
<!--           <h1 id="what">THEA</h1>
 -->     <!--  <div class="panel-description">
            <h1> Theater </h1>
            <div class="description-content">
            <p>Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, of type and scrambled it to make a type specimen book. But also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <a class="info" href="theater.html"> Read More </a>
            </div>
          </div> -->
        </div>
        <div class="perspective-container">
          <div class="photo photo-audrey">
           <!--  <div class="panel"></div> -->
          </div>
        </div>
      </div>

      <div class="col col-lg-3">
        <!--   <div class="panel-title">
            <h1>CODE</h1>
          </div> -->
        <div class="perspective-container">
          <div class=" photo photo-coding">
            <!-- <div class="panel"></div> -->
          </div>
        </div>
      </div>
  </div>

  </div>


<% include scripts.ejs %>
</body>
</html>
